! special
*.foreground:   #f1ebeb
*.background:   #272822
*.cursorColor:  #f1ebeb

! black
*.color0:       #48483e
*.color8:       #76715e

! red
*.color1:       #dc2566
*.color9:       #fa2772

! green
*.color2:       #8fc029
*.color10:      #a7e22e

! yellow
*.color3:       #d4c96e
*.color11:      #e7db75

! blue
*.color4:       #55bcce
*.color12:      #66d9ee

! magenta
*.color5:       #9358fe
*.color13:      #ae82ff

! cyan
*.color6:       #56b7a5
*.color14:      #66efd5

! white
*.color7:       #acada1
*.color15:      #cfd0c2


! Rofi
rofi.theme: Monokai
rofi.font: Fantasque Sans Mono 12
!rofi.padding: 0
!rofi.line-padding: 0
!rofi.color-enabled: true
!rofi.hide-scrollbar: true
!rofi.separator-style: solid
!rofi.color-window: #272822, #56b7a5, #272822
!rofi.color-normal: #272822, #56b7a5, #272822, #a4a4a4, #1c2023
!rofi.color-urgent: argb:00000000, #f43753, argb:00000000, argb:00000000, #e29a49
!rofi.color-active: argb:00000000, #49bbfb, argb:00000000, argb:00000000, #e29a49
rofi.kb-cancel: Escape,Alt+F1

! xterm
xterm*termName: xterm-256color
xterm*font: monospace
xterm*faceName: monospace:size=11
xterm*loginShell: true
xterm*vt100*geometry: 90x34
xterm*saveLines: 2000
xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*eightBitInput: false

! URxvt
URxvt*saveline: 15000
URxvt*termName: rxvt-256color
URxvt*iso14755: false
URxvt*depth: 32
URxvt*background: [95]#272822
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*internalBorder: 5
URxvt*externalBorder: 0
URxvt*letterSpace: 0
URxvt.font: xft:FantasqueSansMono Nerd Font Mono:size=12
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.urlLauncher: exo-open
URxvt.underlineURLs: true
URxvt.urlButton: 1
URxvt.geometry: 90x34
URxvt.tabbed.tabbar-fg: 4
URxvt.tabbed.tabbar-bg: 16
URxvt.tabbed.tab-fg: 15
URxvt.tabbed.tab-bg: 4
URxvt*buffered: false
