#include "/home/coleco/colorthemes/monokai"
!#include "/home/coleco/colorthemes/paraiso"
!#include "/home/coleco/colorthemes/pastebula"
!#include "/home/coleco/colorthemes/naturesuede"

! special
*.foreground:   fg
*.background:   bg
*.cursorColor:  cc

! black
*.color0:       c00
*.color8:       c08

! red
*.color1:       c01
*.color9:       c09

! green
*.color2:       c02
*.color10:      c10

! yellow
*.color3:       c03
*.color11:      c11

! blue
*.color4:       c04
*.color12:      c12

! magenta
*.color5:       c05
*.color13:      c13

! cyan
*.color6:       c06
*.color14:      c14

! white
*.color7:       c07
*.color15:      c15


! Rofi
rofi.font: Fantasque Sans Mono 11
rofi.padding: 5
rofi.color-enabled: true
rofi.hide-scrollbar: true
rofi.separator-style: solid
rofi.color-window: bg, c07, c00 
rofi.color-normal: bg, c10, bg, fg, bg
!rofi.color-urgent: argb:00000000, #f43753, argb:00000000, argb:00000000, #e29a49
!rofi.color-active: argb:00000000, #49bbfb, argb:00000000, argb:00000000, #e29a49
rofi.kb-cancel: Escape,Alt+F1
rofi.bw: 2
rofi.line-padding: 1

! xterm
xterm*termName: xterm-256color
xterm*font: monospace
xterm*faceName: monospace:size=11
xterm*loginShell: true
xterm*vt100*geometry: 90x34
xterm*saveLines: 2000
xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*eightBitInput: false

! URxvt
URxvt*saveline: 15000
URxvt*termName: rxvt-256color
URxvt*iso14755: false
URxvt*depth: 32
URxvt*background: [95]bg
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*internalBorder: 5
URxvt*externalBorder: 0
URxvt*letterSpace: 0
URxvt.font: xft:FantasqueSansMono Nerd Font Mono:size=12
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.urlLauncher: exo-open
URxvt.underlineURLs: true
URxvt.urlButton: 1
URxvt.geometry: 90x34
URxvt.tabbed.tabbar-fg: 4
URxvt.tabbed.tabbar-bg: 16
URxvt.tabbed.tab-fg: 15
URxvt.tabbed.tab-bg: 4
URxvt*buffered: false
